*.h5 filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text

# Correct relative paths with quotes to handle spaces properly
"Crop Identification/Final Datasets/**" filter=lfs diff=lfs merge=lfs -text
"Crop Identification/notebooks/pest_dataset/**" filter=lfs diff=lfs merge=lfs -text
"Crop Identification/notebooks/dataset_split/**" filter=lfs diff=lfs merge=lfs -text
"Crop Identification/notebooks/disease_dataset/**" filter=lfs diff=lfs merge=lfs -text
"Crop Identification/notebooks/generated_crops/**" filter=lfs diff=lfs merge=lfs -text
